<!DOCTYPE HTML>
<html><head>
    <meta charset="UTF-8">
    <title>colorful 前端</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="description" content="colorful life colorful front-end development » 七彩的生活，七彩的前端开发。" />
    <meta name="keywords" content="前端, 前端开发, 移动端开发, h5开发, web前端开发工程师, colorful, 七彩的" />
    <meta name="author" content="钟志慧, reiki" />
    <link href="static/public.css" rel="stylesheet">
</head>
<body>
{{content }}
</body>
</html>